/* RESET RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;

}

h2 {
    font-size: 2rem
}

main {
    container {
        margin-top: 20%
    }
}

/* CUSTOM */

:root {
    --headerblock-width--: 60%;
}

/* COMMON */
/* layout */

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* debug */
    /* border: 1px dashed black; */
}

.large-container{
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

.flex {
    display: flex;
    /* border: 1px dashed purple; */

}

/* UTILITIES */

.margin {
    margin: 10px;
}

.marginr-10 {
    margin-right: 10px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-20 {
    padding: 20px;

}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.text-a-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.font-size-small {
    font-size: 0.8rem;
}

.font-sizebig {
    font-size: 1.2rem
}

.block {
    display: block;
}

.color-blue {
    color: blue;
}

.color-grey {
    color: grey;
}

.text-decor {
    text-decoration: underline;
}

/* HEADER  */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap:16px;
}

.left-block,
.right-block {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    /* Modifica in base alle dimensioni del tuo logo */
    /* height: auto; */
}

nav {
    display: flex;
    gap: 20px;
}

.left-nav {
    gap: 10px;
    /* Aumentato lo spazio tra i link del nav sinistro */
}

nav a {
    text-decoration: none;
    color: black;
}

.right-block {
    a {
        padding: 5px;
    }
}

.left-block {
    a {
        padding: 5px;
    }
}

.start-button {
    background-color: rgba(0, 97, 254, 255);
    color: white;
}

/* HERO */

.piani-e-prezzi h2 {
    margin-top: 20%
}

.hero {
    background-color: rgba(180, 208, 230, 255);
    margin-top: 80px;
}

.hero-title {
    font-size: 4rem;
    padding:20px;
}

.hero-card {
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
}

.hero-card {

    .hero-card-text {
        width: 40%;
    }

    .hero-card-img {
        width: 60%;
        /* position:relative; */
    }

    .hero-card-img img {
        max-width:100%;
    }
}

.fa-arrow-down {
    color: black;
    font-size: 2rem;
}

.check-buttons {
    justify-content: flex-start;
    gap: 40px;
}

.circle {
    margin-right: 5px;
    color: blue;
    font-weight: 900;
    font-size: large;

}


.options-card-title {
    justify-content: space-between;

}

.col3-title {
    display:flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    padding: 20px;
    border:1px solid grey;

}

.col3-card-single {
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.col3-card-team {
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.col3-card-azienda {
    margin-right: 50px;
}

.options {
    justify-content: space-between;
    gap: 20px;
    /* debug */

}

.col3-options {
    /* debug */
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border: 1px solid grey;
}

.col3-options {
    ul {
        li {
            margin-bottom: 15px;
        }
    }
}


.team-contact-title {
    text-align: center;
    padding: 10px;
    /* debug */
    border: 1px solid gray;
}

.team-contact-button {
    width: 40%;
}

.team-contact-text {
    width: 60%;
}

.partner-contact {

    .partner-contact-img {
        width: 60%;
    }

    .partner-contact-text {
        width: 40%;
    }
}

/* SEZIONE FUNZIONALITA' */

.features-cards {
    flex-wrap: wrap;

}

.features-details {
    justify-content: space-between;
}

.features-card {
    width: calc(100%/3 - 20px);
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SEZIONE SCOPRI DI PIU */
.more {
    margin-bottom: 80px;
    width: 60%;
    flex-wrap: wrap;
}

.more h2 {
    font-size: 1.5rem;
}

.more a {
    margin-top: 20px;
}

/* FOOTER */

footer {
    background-color: black;
    /* debug */
    min-height: 350px;

}

.navlist {
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
}

.navlist ul {
    margin-top: 50px;
    /* width: 20%; */
}

.navlist ul li {
    list-style: none;
    color: white;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

/* SELETTORE LINGUA */

.language-selector {
    border-top: 1px solid white;
    color: white;
    padding-top: 40px;
    margin-top: 50px;

}